$utilities: (
  'width': (
    responsive: true,
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
  'max-width': (
    responsive: true,
    property: max-width,
    class: mw,
    values: (
      100: 100%,
    ),
  ),
  'min-width': (
    responsive: true,
    property: min-width,
    class: min-w,
    values: (
      100: 100%,
    ),
  ),
  'viewport-width': (
    responsive: true,
    property: width,
    class: vw,
    values: (
      100: 100vw,
    ),
  ),
  'min-viewport-width': (
    responsive: true,
    property: min-width,
    class: min-vw,
    values: (
      100: 100vw,
    ),
  ),
  'height': (
    responsive: true,
    property: height,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
  'max-height': (
    responsive: true,
    property: max-height,
    class: mh,
    values: (
      100: 100%,
    ),
  ),
  'min-height': (
    responsive: true,
    property: min-height,
    class: min-h,
    values: (
      100: 100%,
    ),
  ),
  'viewport-height': (
    responsive: true,
    property: height,
    class: vh,
    values: (
      100: 100vh,
    ),
  ),
  'min-viewport-height': (
    responsive: true,
    property: min-height,
    class: min-vh,
    values: (
      100: 100vh,
    ),
  ),
);
