////////////////////////////////////////////////////////////////////////////////
// Default

// Font Family
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&subset=latin-ext");
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Lora", $font-family-sans-serif;
$headings-font-weight: 700;

// Color
$primary: #888888;

////////////////////////////////////////////////////////////////////////////////
// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Color
$milk: #dcd9cd;
$milk-light: lighten($milk, 10%);
$milk-dark: darken($milk, 10%);

.bg-milk {
  background-color: $milk !important;
}

.bg-milk-light {
  background-color: $milk-light !important;
}

.bg-milk-dark {
  background-color: $milk-dark !important;
}

// Link
p,
span {
  a {
    font-style: italic;
  }
}

// Font Size
@include media-breakpoint-down(xs) {
  html {
    font-size: 0.875rem;
  }
}
